/*----------------------- Hobby -----------------------*/
.section {
  width: 100vw;
  display: flex;
  align-items: center;
  background-size: cover;
  background-position: center;
  font-size: 4rem;
  color: rgb(226, 220, 220);
  text-align: center;
  text-shadow: 2px 2px 10px rgba(0,0,0,0.6);

  transition: background-size 1s ease, height 1s ease;
}

.section:hover {
  height: 60vh;
}

.section .section-header1:hover {
  cursor: pointer;
  
}

.pilates {
  justify-content: flex-start;
  padding-top: calc(var(--nav-size)+4rem);
  padding-left: 4rem;
  background-image: url('../assets/hobby/pilates.jpg');
  height: 30vh;
}

.triathlon {
  justify-content: flex-end;
  padding-top: calc(var(--nav-size)+4rem);
  padding-right: 4rem;
  background-image: url('../assets/hobby/triathlon.jpg');
  padding-bottom: calc(var(--nav-size)+4rem);
  height: 30vh;
}

.cooking {
  padding-top: calc(var(--nav-size)+4rem);
  background-image: url('../assets/hobby/korean_food.jpg');
  padding-bottom: calc(var(--nav-size)+4rem);
  padding-left: 4rem;
  height: 30vh;
}

.sailing {
  justify-content: flex-end;
  padding-top: calc(var(--nav-size)+4rem);
  background-image: url('../assets/hobby/sailing.jpg');
  padding-bottom: calc(var(--nav-size)+4rem);
  padding-right: 4rem;
  height: 30vh;
}

.blank-section {
  height: 10rem;
  width: 100vw;
  background-color: black;
}