.portfolio {

}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
}

.text {
  max-width: 30rem;
  font-size: 1.5rem;
}

.tic-tac-toe-img {
  display: flex;
  width: 50rem;
  height: auto;
  border-radius: 10px;
  transition: transform 0.5s ease-in-out;
}

.tic-tac-toe-img:hover {
  transform: scale(1.1);
}

a {
  color: #ff6600;
  text-decoration: underline;
  font-weight: bold;
}

a:hover {
  color: #ff3300;
}

.phone-content {

}