/*----------------------- Universal -----------------------*/
html{
  scroll-behavior: smooth;
}

.universal-bg {
  background: linear-gradient(#ffffff);
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}


.navigate-button {
  width: 150px;
  height: 50px;
  background-color: transparent;
  color: black;
  font-family:Arial, Helvetica, sans-serif;
  transition: 0.5s;
  /* border-radius: 6px; */
}

.navigate-button:hover {
  width: 150px;
  height: 50px;
  background-color: white;
  font-family:Arial, Helvetica, sans-serif;
  /* border-radius: 6px; */
  transition: 0.5s;
  cursor: pointer;
}
/*----------------------- Navbar -----------------------*/
.navbar{
  height:var(--nav-size);
  width: 100vw;
  background-color: rgb(25, 24, 24);
  
  padding: 2rem;
  border-bottom: var(--border);
  display: flex;
  justify-content: center; /* horizontal adjustment*/
}

.nav-items{
  gap: 1rem;
  display: center;
}

.nav-item{
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  font-size:2rem;
}

.nav-item.active{
  color: #ffcc00;
  border-bottom: 2px solid #ffcc00;
  font-weight: 600;
}

.nav-item:hover{
  color: #ffcc00;
  transition: 0.2s;
  border-bottom: 2px solid #ffcc00;
}

/* Portfolio */
.section {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  
  background-size: cover;
  background-position: center;
}

.pilates {
  background-image: url('./assets/pilates.jpg');
}

.triathlon {

}

.cooking {

}

.sailing {

}

/*----------------------- BoxPage -----------------------*/
.introduction{
  
}

.box{
  margin: 20px;
  width: 100px;
  height: 100px;
  border: 1px solid;
  color: grey;
}

.first-line{
  padding: 10px;
  margin: 5px;
  background-color: grey;
}
.second-line{
  padding: 10px;
  margin: 5px;
  background-color: grey;
}

.question-label {
  padding: 10px;
  margin: 10px;
}
.App {
  text-align: center;
}

.visible {
  display:block;
  width: 500px;
  height: 20px;
  border: 1px solid;
}

.hidden {
  display: none;
}

.warning {
  width: 500px;
  height: 20px;
  border: 1px solid;
  color: orange;
}


/*----------------------- Home -----------------------*/
.home-icon{
  padding:10px;
  color: navy;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/*----------------------- EDO ----------------------- */

.number-button {
  width: 36px;
  height: 36px;
  border-width: 1px;
  background-color: orange;
  transition: 0.5s;
  border-radius: 6px;
  cursor: pointer;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.number-button:hover{
  background-color: white;
  border-radius: 6px;
  border-width: 1px;
  transition: 0.5s;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  cursor: pointer;
}

.reset-button {
  margin: 10px;
  
}


/*----------------------- SR - FE -----------------------*/
#inspectionForm {
  display: flex;
  flex-direction: column;
}

.sr-visible {
  display: block;
}
.sr-invisible {
  display: none;
}

.PCExists {
  display: block;
  color: green;
  width: 200px;
  border: 1px solid green;
  border-color: green;
  border-radius: 6px;
}

.PCNotExist {
  display: block;
  color: red;
  width: 200px;
  border: 1px solid red;
  border-color: red;
  border-radius: 6px;


}