/*----------------------- Universal -----------------------*/
html{
  scroll-behavior: smooth;
}

.universal-bg {
  background: linear-gradient(#ffffff);
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.body {
  margin: 0;
  padding-top: calc(var(--nav-size) + 4rem); /* adjust as needed */
}

.navigate-button {
  width: 150px;
  height: 50px;
  background-color: transparent;
  color: black;
  font-family:Arial, Helvetica, sans-serif;
  transition: 0.5s;
  /* border-radius: 6px; */
}

.navigate-button:hover {
  width: 150px;
  height: 50px;
  background-color: white;
  font-family:Arial, Helvetica, sans-serif;
  /* border-radius: 6px; */
  transition: 0.5s;
  cursor: pointer;
}
/*----------------------- Navbar -----------------------*/
.navbar{
  position: fixed;
  height:var(--nav-size);
  width: 100vw;
  background-color: rgb(25, 24, 24);
  padding: 2rem;
  border-bottom: var(--border);
  display: flex;
  justify-content: center; /* horizontal adjustment*/
}

.nav-items{
  gap: 2rem;
  display: center;
}

.nav-item{
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  font-size:2rem;
}

.nav-item.active{
  color: #ffcc00;
  border-bottom: 2px solid #ffcc00;
  font-weight: 600;
}

.nav-item:hover{
  color: #ffcc00;
  transition: 0.2s;
  border-bottom: 2px solid #ffcc00;
}

/*----------------------- Hobby -----------------------*/
.section {
  width: 100vw;
  display: flex;
  align-items: center;
  background-size: cover;
  background-position: center;
  font-size: 4rem;
  color: rgb(226, 220, 220);
  text-align: center;
  text-shadow: 2px 2px 10px rgba(0,0,0,0.6);

  transition: background-size 1s ease, height 1s ease;
}

.section:hover {
  height: 60vh;
}

.section .section-header1:hover {
  cursor: pointer;
  
}

.pilates {
  justify-content: flex-start;
  padding-top: calc(var(--nav-size)+4rem);
  padding-left: 4rem;
  background-image: url('./assets/hobby/pilates.jpg');
  height: 30vh;
}

.triathlon {
  justify-content: flex-end;
  padding-top: calc(var(--nav-size)+4rem);
  padding-right: 4rem;
  background-image: url('./assets/hobby/triathlon.jpg');
  padding-bottom: calc(var(--nav-size)+4rem);
  height: 30vh;
}

.cooking {
  padding-top: calc(var(--nav-size)+4rem);
  background-image: url('./assets/hobby/korean_food.jpg');
  padding-bottom: calc(var(--nav-size)+4rem);
  padding-left: 4rem;
  height: 30vh;
}

.sailing {
  justify-content: flex-end;
  padding-top: calc(var(--nav-size)+4rem);
  background-image: url('./assets/hobby/sailing.jpg');
  padding-bottom: calc(var(--nav-size)+4rem);
  padding-right: 4rem;
  height: 30vh;
}

.blank-section {
  height: 10rem;
  width: 100vw;
  background-color: black;
}

/*----------------------- BoxPage -----------------------*/
.introduction{
  padding-top: calc(var(--nav-size)+4rem);
}

.box{
  margin: 20px;
  width: 100px;
  height: 100px;
  border: 1px solid;
  color: grey;
}

.first-line{
  padding: 10px;
  margin: 5px;
  background-color: grey;
}
.second-line{
  padding: 10px;
  margin: 5px;
  background-color: grey;
}

.question-label {
  padding: 10px;
  margin: 10px;
}
.App {
  text-align: center;
}

.visible {
  display:block;
  width: 500px;
  height: 20px;
  border: 1px solid;
}

.hidden {
  display: none;
}

.warning {
  width: 500px;
  height: 20px;
  border: 1px solid;
  color: orange;
}


/*----------------------- Home -----------------------*/
.home-icon{
  padding:10px;
  color: navy;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/*----------------------- EDO ----------------------- */

.number-button {
  width: 36px;
  height: 36px;
  border-width: 1px;
  background-color: orange;
  transition: 0.5s;
  border-radius: 6px;
  cursor: pointer;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.number-button:hover{
  background-color: white;
  border-radius: 6px;
  border-width: 1px;
  transition: 0.5s;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
}

.reset-button {
  margin: 10px;
  
}


/*----------------------- SR - FE -----------------------*/
#inspectionForm {
  display: flex;
  flex-direction: column;
}

.sr-visible {
  display: block;
}
.sr-invisible {
  display: none;
}

.PCExists {
  display: block;
  color: green;
  width: 200px;
  border: 1px solid green;
  border-color: green;
  border-radius: 6px;
}

.PCNotExist {
  display: block;
  color: red;
  width: 200px;
  border: 1px solid red;
  border-color: red;
  border-radius: 6px;


}